.div {
  background-color: #fff6df;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.div-2 {
  justify-content: space-between;
  align-items: center;
  border-radius: 10000px;
  background-color: #852e2c;
  align-self: center;
  display: flex;
  width: 100%;
  max-width: 896px;
  gap: 20px;
  padding: 15px 20px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-3 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: auto 0;
}
.img {
  aspect-ratio: 6.57;
  object-fit: contain;
  object-position: center;
  width: 151px;
  overflow: hidden;
  max-width: 100%;
}
.div-4 {
  align-self: center;
  display: flex;
  gap: 20px;
  margin: auto 0;
}
.div-5 {
  color: #fff6df;
  text-align: center;
  text-transform: capitalize;
  font: 700 16px/120% Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-6 {
  color: #fff6df;
  text-align: center;
  text-transform: capitalize;
  font: 700 16px/120% Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-7 {
  color: #fff6df;
  text-align: center;
  text-transform: capitalize;
  font: 700 16px/120% Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-8 {
  align-items: center;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-9 {
  display: flex;
  gap: 20px;
  margin: auto 0;
}
.div-10 {
  color: #fff6df;
  text-align: center;
  text-transform: capitalize;
  font: 700 16px/120% Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-11 {
  color: #fff6df;
  text-align: center;
  text-transform: capitalize;
  font: 700 16px/120% Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-12 {
  justify-content: center;
  border-radius: 22px 15px 28px 27px;
  background-color: #bf5627;
  align-self: start;
  display: flex;
  gap: 7px;
  padding: 15px 28px;
}
@media (max-width: 991px) {
  .div-12 {
    padding: 0 20px;
  }
}
.div-13 {
  color: #fff6df;
  text-align: center;
  font: 700 14px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
.img-2 {
  aspect-ratio: 1.67;
  object-fit: contain;
  object-position: center;
  width: 10px;
  stroke-width: 1.2px;
  stroke: #fff6df;
  overflow: hidden;
  align-self: start;
  margin-top: 5px;
  max-width: 100%;
}
.div-14 {
  justify-content: center;
  color: #852e2c;
  text-align: center;
  white-space: nowrap;
  border-radius: 22px 15px 28px 27px;
  background-color: #ffcd00;
  align-self: stretch;
  flex-grow: 1;
  padding: 2px 3px;
  font: 700 14px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-14 {
    white-space: initial;
  }
}
.div-15 {
  align-self: stretch;
  color: #852e2c;
  text-align: center;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-top: 121px;
  width: 100%;
  font: 700 55px/60px Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-15 {
    max-width: 100%;
    font-size: 40px;
    line-height: 48px;
    margin-top: 40px;
  }
}
.div-16 {
  align-self: stretch;
  color: #343434;
  text-align: center;
  margin-top: 30px;
  width: 100%;
  font: 600 15px/20px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
  }
}
.img-3 {
  aspect-ratio: 3.92;
  object-fit: contain;
  object-position: center;
  width: 247px;
  align-items: center;
  border-radius: 22px 15px 28px 27px;
  overflow: hidden;
  align-self: center;
  margin-top: 30px;
  max-width: 100%;
}
.img-4 {
  aspect-ratio: 9.75;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-items: flex-start;
  overflow: hidden;
  align-self: stretch;
  margin-top: 60px;
}
@media (max-width: 991px) {
  .img-4 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-17 {
  align-self: center;
  z-index: 1;
  width: 100%;
  max-width: 922px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
  }
}
.div-18 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-18 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.img-5 {
  aspect-ratio: 0.85;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-5 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-19 {
  color: #ffcd00;
  margin: auto 0;
  font: 500 34px/45px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-19 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img-6 {
  aspect-ratio: 9.75;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-items: flex-start;
  overflow: hidden;
  align-self: stretch;
}
@media (max-width: 991px) {
  .img-6 {
    max-width: 100%;
  }
}
.img-7 {
  aspect-ratio: 1.53;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-items: flex-start;
  overflow: hidden;
  align-self: stretch;
  margin-top: 43px;
}
@media (max-width: 991px) {
  .img-7 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-20 {
  background-color: #852e2c;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 45px 20px;
}
@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
  }
}
.div-21 {
  color: #ffcd00;
  text-align: center;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-top: 30px;
  width: 100%;
  font: 700 60px/70px Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-21 {
    max-width: 100%;
    font-size: 40px;
    line-height: 52px;
  }
}
.div-22 {
  display: flex;
  margin-top: 45px;
  width: 100%;
  flex-direction: column;
  padding: 1px 0;
}
@media (max-width: 991px) {
  .div-22 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img-8 {
  aspect-ratio: 341.33;
  object-fit: contain;
  object-position: center;
  width: 100%;
  stroke-width: 3px;
  stroke: #ffcd00;
  overflow: hidden;
  z-index: 1;
}
@media (max-width: 991px) {
  .img-8 {
    max-width: 100%;
  }
}
.div-23 {
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-23 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.img-9 {
  aspect-ratio: 3.08;
  object-fit: contain;
  object-position: center;
  width: 194px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: auto 0;
}
.img-10 {
  aspect-ratio: 0.03;
  object-fit: contain;
  object-position: center;
  width: 5px;
  stroke-width: 3px;
  stroke: #ffcd00;
  overflow: hidden;
  max-width: 100%;
}
.img-11 {
  aspect-ratio: 4.03;
  object-fit: contain;
  object-position: center;
  width: 254px;
  overflow: hidden;
  align-self: center;
  margin: auto 0;
}
.img-12 {
  aspect-ratio: 0.03;
  object-fit: contain;
  object-position: center;
  width: 5px;
  stroke-width: 3px;
  stroke: #ffcd00;
  overflow: hidden;
  max-width: 100%;
}
.img-13 {
  aspect-ratio: 4.03;
  object-fit: contain;
  object-position: center;
  width: 254px;
  overflow: hidden;
  align-self: center;
  margin: auto 0;
}
.div-24 {
  background-color: #852e2c;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px 20px;
}
@media (max-width: 991px) {
  .div-24 {
    max-width: 100%;
  }
}
.div-25 {
  color: #fff6df;
  text-align: center;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 100%;
  font: 700 44px/55.5px Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-25 {
    max-width: 100%;
  }
}
.div-26 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 600px;
  margin-top: 31px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}
@media (max-width: 991px) {
  .div-26 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.img-14 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img-15 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 105px;
  fill: #852e2c;
  stroke-width: 3px;
  stroke: #ffcd00;
  overflow: hidden;
  max-width: 100%;
  margin: 197px 0 148px;
}
@media (max-width: 991px) {
  .img-15 {
    margin: 40px 0;
  }
}
.div-27 {
  background-color: #852e2c;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 45px 0;
}
@media (max-width: 991px) {
  .div-27 {
    max-width: 100%;
  }
}
.div-28 {
  disply: flex;
  flex-direction: column;
  fill: #ffcd00;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 519px;
  margin-bottom: 30px;
  width: 100%;
  align-items: flex-start;
  padding: 50px 41px 17px 58px;
}
@media (max-width: 991px) {
  .div-28 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.img-16 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div-29 {
  position: relative;
  display: flex;
  margin-top: 19px;
  width: 314px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.img-17 {
  aspect-ratio: 1.15;
  object-fit: contain;
  object-position: center;
  width: 53px;
  fill: #852e2c;
  overflow: hidden;
  margin-top: 8px;
  max-width: 100%;
}
.div-30 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.img-18 {
  aspect-ratio: 2.33;
  object-fit: contain;
  object-position: center;
  width: 42px;
  overflow: hidden;
  align-self: start;
  max-width: 100%;
}
.div-31 {
  color: #bf5627;
  text-align: center;
  font: 400 24px/120% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
.img-19 {
  aspect-ratio: 2.33;
  object-fit: contain;
  object-position: center;
  width: 42px;
  overflow: hidden;
  align-self: start;
  max-width: 100%;
}
.div-32 {
  position: relative;
  color: #852e2c;
  letter-spacing: -1.19px;
  text-transform: uppercase;
  align-self: end;
  margin-top: 11px;
  width: 819px;
  font: 500 45px/60px Inter, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-32 {
    max-width: 100%;
    font-size: 40px;
    line-height: 59px;
  }
}
.div-33 {
  background-color: #852e2c;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .div-33 {
    max-width: 100%;
  }
}
.div-34 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  min-height: 636px;
  width: 100%;
  align-items: flex-end;
  padding: 40px 0 40px 61px;
}
@media (max-width: 991px) {
  .div-34 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.img-20 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img-21 {
  aspect-ratio: 5.04;
  object-fit: contain;
  object-position: center;
  width: 358px;
  stroke-width: 2px;
  stroke: #fff6df;
  overflow: hidden;
  max-width: 100%;
}
.div-35 {
  position: relative;
  align-self: stretch;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .div-35 {
    max-width: 100%;
  }
}
.div-36 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-36 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 41%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-37 {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-37 {
    margin-top: 32px;
  }
}
.div-38 {
  color: #ffcd00;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  font: 700 60px/102px Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-38 {
    font-size: 40px;
    line-height: 76px;
  }
}
.div-39 {
  color: #fff6df;
  margin-top: 44px;
  font: 600 18px/27px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-39 {
    margin-top: 40px;
  }
}
.div-40 {
  color: #fff6df;
  margin-top: 44px;
  font: 600 18px/27px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-40 {
    margin-top: 40px;
  }
}
.column-4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 59%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4 {
    width: 100%;
  }
}
.div-41 {
  align-items: flex-end;
  position: relative;
  display: flex;
  margin-top: 16px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-41 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-42 {
  color: #fff6df;
  text-align: center;
  align-self: stretch;
  font: 600 24px/117% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-42 {
    max-width: 100%;
  }
}
.div-43 {
  color: #fff6df;
  align-self: stretch;
  margin-top: 35px;
  font: 600 24px/117% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-43 {
    max-width: 100%;
  }
}
.img-22 {
  aspect-ratio: 273.5;
  object-fit: contain;
  object-position: center;
  width: 100%;
  stroke-width: 1.5px;
  stroke: #fff6df;
  overflow: hidden;
  align-self: stretch;
  margin-top: 35px;
}
@media (max-width: 991px) {
  .img-22 {
    max-width: 100%;
  }
}
.div-44 {
  color: #fff6df;
  align-self: stretch;
  margin-top: 35px;
  font: 600 24px/117% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-44 {
    max-width: 100%;
  }
}
.img-23 {
  aspect-ratio: 273.5;
  object-fit: contain;
  object-position: center;
  width: 100%;
  stroke-width: 1.5px;
  stroke: #fff6df;
  overflow: hidden;
  align-self: stretch;
  margin-top: 35px;
}
@media (max-width: 991px) {
  .img-23 {
    max-width: 100%;
  }
}
.img-24 {
  aspect-ratio: 3.92;
  object-fit: contain;
  object-position: center;
  width: 247px;
  align-items: center;
  border-radius: 22px 15px 28px 27px;
  overflow: hidden;
  align-self: end;
  margin-top: 72px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-24 {
    margin-top: 40px;
  }
}
.div-45 {
  color: #852e2c;
  text-align: center;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  align-self: center;
  margin-top: 41px;
  font: 700 44px/126% Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-45 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-46 {
  color: #343434;
  text-align: center;
  align-self: center;
  margin-top: 19px;
  font: 600 18px/150% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-46 {
    max-width: 100%;
  }
}
.div-47 {
  align-self: center;
  display: flex;
  margin-top: 54px;
  width: 100%;
  max-width: 984px;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-47 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-48 {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  padding: 2px 0;
}
.div-49 {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.div-50 {
  color: #852e2c;
  font: 500 14px/136% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-51 {
  color: #852e2c;
  font: 500 14px/136% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
.img-25 {
  aspect-ratio: 2.04;
  object-fit: contain;
  object-position: center;
  width: 100%;
  stroke-width: 2.5px;
  stroke: #852e2c;
  overflow: hidden;
  align-self: stretch;
  margin-top: 8px;
}
.div-52 {
  color: #852e2c;
  align-self: stretch;
  margin-top: 26px;
  font: 500 23px/36px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-53 {
  align-self: start;
  display: flex;
  margin-top: 31px;
  align-items: flex-start;
  gap: 17px;
}
.div-54 {
  color: #852e2c;
  text-transform: uppercase;
  font: 700 20px/130% Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
.img-26 {
  aspect-ratio: 1.78;
  object-fit: contain;
  object-position: center;
  width: 32px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.div-55 {
  align-self: center;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  margin: auto 0;
}
.div-56 {
  align-self: end;
  display: flex;
  width: 302px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.div-57 {
  color: #852e2c;
  font: 500 14px/136% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-58 {
  color: #852e2c;
  align-self: start;
  font: 500 14px/136% Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
.img-27 {
  aspect-ratio: 1.97;
  object-fit: contain;
  object-position: center;
  width: 370px;
  stroke-width: 2.5px;
  stroke: #852e2c;
  overflow: hidden;
  align-self: start;
  margin-top: 8px;
  max-width: 100%;
}
.div-59 {
  color: #852e2c;
  align-self: stretch;
  margin-top: 34px;
  font: 500 23px/36px Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}
.div-60 {
  align-self: start;
  display: flex;
  align-items: flex-start;
  gap: 17px;
  margin: 36px 0 0 75px;
}
@media (max-width: 991px) {
  .div-60 {
    margin-left: 10px;
  }
}
.div-61 {
  color: #852e2c;
  text-transform: uppercase;
  font: 700 20px/130% Recoleta, -apple-system, Roboto, Helvetica, sans-serif;
}
.img-28 {
  aspect-ratio: 1.78;
  object-fit: contain;
  object-position: center;
  width: 32px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
