.dropdownIcon,
.englishIcon,
.logoIcon {
  position: relative;
  width: 151px;
  height: 23px;
  object-fit: cover;
}
.dropdownIcon,
.englishIcon {
  width: 24px;
  height: 24px;
}
.dropdownIcon {
  width: 13px;
  height: 7.5px;
}
.header,
.language {
  display: flex;
  flex-direction: row;
}
.language {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.header {
  align-self: stretch;
  background-color: #852e2c;
  border-bottom: 2px solid #ffcd00;
  box-sizing: border-box;
  height: 90px;
  align-items: flex-end;
  justify-content: space-between;
  padding: 18px 41px 23px 64px;
}
.createAFree,
.joinUs {
  position: relative;
}
.createAFree {
  font-size: 16px;
  font-family: Montserrat;
}
.textcontainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Recoleta;
  padding-bottom: 10px;
}
.firstnamecontainer,
.textfieldfirstname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.textfieldfirstname {
  border: 1px solid #acacac;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  border-radius: 22px 15px 28px 27px;
  box-sizing: border-box;
  height: 40px;
  justify-content: center;
  padding: 15px 25px 16px 20px;
  color: #fff;
  font-size: 18px;
}
.firstnamecontainer {
  flex: 1;
  justify-content: flex-start;
  gap: 5px;
  width: 45%;
}
.inputfieldscontainer,
.nameimputcontainer,
.restaurantnamecontainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 18px;
}
.inputfieldscontainer,
.restaurantnamecontainer {
  flex-direction: column;
  gap: 5px;
}
.inputfieldscontainer {
  gap: 11px;
  font-size: 9px;
}
.login {
  position: relative;
  font-size: 14px;
  font-family: Montserrat;
  color: #852e2c;
  text-align: center;
}
.loginbutton {
  cursor: pointer;
  border: 0;
  padding: 14px 124px;
  background-color: #ffcd00;
  align-self: stretch;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(236, 190, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.createAnAccount {
  text-decoration: underline;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  color: inherit;
}
.textcontaiercreateaccount {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  font-size: 12px;
  color: #fffddf;
}
.leftcontainer,
.registercontainer,
.rigntcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.registercontainer {
  border-radius: 20px;
  background-color: #852e2c;
  width: 370px;
  justify-content: center;
  padding: 10px 30px 10px 30px;
  box-sizing: border-box;
  gap: 10px;
}
.leftcontainer,
.rigntcontainer {
  align-self: stretch;
  flex: 1;
}
.rigntcontainer {
  justify-content: center;
  padding: 10px 100px;
  background-image: url(/authentication/rigntcontainer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.leftcontainer {
  justify-content: flex-start;
}
.fastSimpleAnd,
.manageYourBusiness {
  align-self: stretch;
  position: relative;
}
.manageYourBusiness {
  font-size: 26px;
  font-family: Montserrat;
}
.textContainer2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.itsSomethingYou {
  align-self: stretch;
  position: relative;
  font-size: 13px;
  font-weight: 500;
  font-family: Montserrat;
}
.customDesignDataParent,
.hereToHelpEveryRestaurantParent,
.immediateSignUpAccessParent {
  flex: 1;
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.hereToHelpEveryRestaurantParent,
.immediateSignUpAccessParent {
  gap: 24px;
}
.hereToHelpEveryRestaurantParent {
  gap: 21px;
}
.textContainer1,
.textContainer3 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.textContainer3 {
  height: 214.5px;
  flex-direction: row;
  font-size: 18px;
}
.textContainer1 {
  flex-direction: column;
}
.termsOfUse {
  align-self: stretch;
  position: relative;
  font-size: 10px;
}
.textContainer4 {
  font-size: 12px;
}
.textcontainer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
  font-size: 10px;
  font-family: Montserrat;
}
.textcontainer1 {
  align-self: stretch;
  flex: 1;
  background-color: #852e2c;
  overflow: hidden;
  justify-content: center;
  padding: 0 50px 20px 50px;
  gap: 100px;
  text-align: center;
  font-size: 48px;
  font-family: Recoleta;
}
.signInLocofyReady {
  position: relative;
  background-color: #fff6df;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 35px;
  color: #fff6df;
  font-family: Montserrat;
}
@media screen and (max-width: 960px) {
  .rigntcontainer {
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
  }
  .leftcontainer {
    flex: unset;
    align-self: stretch;
  }
  .textContainer1 {
    padding-top: 50px;
    box-sizing: border-box;
  }
  .textcontainer1 {
    flex: unset;
    align-self: stretch;
  }
  .signInLocofyReady {
    flex-direction: column;
    height: auto;
  }
}
