.new {
  border-radius: 55px 55px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 272px;
  background-color: #ffcd00;
  width: 60px;
  height: 45px;
  justify-content: center;
  padding: 0 10px;
  z-index: 2;
  font-size: 16px;
  color: #852e2c;
}

.featured {
  border-radius: 55px 55px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 252px;
  background-color: #ffcc00;
  width: 80px;
  height: 45px;
  justify-content: center;
  padding: 0 10px;
  z-index: 2;
  font-size: 16px;
  color: #852e2c;
}

.backdivIcon {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.resturantname {
  position: relative;
  line-height: 22px;
}
.leftSection {
  width: 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.filterboxIcon,
.filtericon,
.searchicon {
  position: relative;
  width: 20.3px;
  height: 20.3px;
  object-fit: cover;
}
.filterboxIcon,
.filtericon {
  width: 18px;
  height: 18px;
}
.filterboxIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.filtersnum {
  position: absolute;
  top: -18.75%;
  left: 25%;
  font-size: 10px;
  line-height: 22px;
  font-family: Montserrat;
  color: #852e2c;
  text-align: left;
}
.appliedfiltersdiv {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.filterbtn,
.rightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.filterbtn {
  cursor: pointer;
  border: 0;
  padding: 6px 8px;
  background-color: #852e2c;
  border-radius: 40px;
  flex-shrink: 0;
  gap: 8px;
}
.rightSection {
  gap: 14px;
}
.header,
.headerContainer {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.headerContainer {
  background-color: #ffcd00;
  border-bottom: 1px solid #852e2c;
  box-sizing: border-box;
  height: 55px;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px;
}
.header {
  flex-direction: column;
  justify-content: flex-start;
  font-size: 18px;
}
.categoryname {
  position: relative;
  text-transform: capitalize;
}
.category {
  border-radius: 22px 15px 28px 27px;
  border: 1px solid #852e2c;
  padding: 14px 20px;
  font-weight: 600;
}

.slidercontainer .categories {
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.item {
  border-radius: 22px 15px 28px 27px;
  border: 1px solid #852e2c;
  flex-shrink: 0;
  padding: 15px 20px;
}

.item,
.items,
.slidercontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.slidercontainer .items {
  gap: 20px;
}
.slidercontainer {
  width: 100%;
  height: 55px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  box-sizing: border-box;
  gap: 30px;
  text-align: center;
  overflow: auto;
}
.namedivtext {
  position: relative;
  font-size: 12px;
  font-family: Montserrat;
}
.itemnamediv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16px;
  gap: 5px;
  font-size: 31px;
  font-family: Inter;
}
.image1Icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 179px;
  object-fit: cover;
  background-color: #dfdede;
}
.image2Icon {
  flex: 1;
  position: relative;
  background-color: #dfdede;
  max-width: 100%;
  overflow: hidden;
  height: 179px;
  object-fit: cover;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.cardimage {
  align-self: stretch;
  border-radius: 55px 55px 0 0;
  height: 179px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.itemname21 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: Recoleta;
  color: #852e2c;
  text-align: center;
  display: inline-block;
}

.itemdes2 {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  text-transform: capitalize;
  font-family: Montserrat;
  text-align: left;
}
.itemcard,
.itemdetailsbox {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  gap: 10px;
  z-index: 1;
}

.b,
.cafsCaliente,
.eur {
  position: relative;
}
.eur {
  font-size: 12px;
  text-transform: uppercase;
}

.cafsCalienteParent,
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.parent {
  flex-shrink: 0;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: 18px;
  color: #bf5627;
  font-family: Montserrat;
}

.cafsCalienteParent {
  align-self: stretch;
  justify-content: space-between;
}

.itemcard {
  border-radius: 55px 55px 40px 40px;
  background-color: #ffbe9f;
  width: 339px;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 20px;
  box-sizing: border-box;
  position: relative;
}
.soldoutimage {
  align-self: stretch;
  border-radius: 55px 55px 0 0;
  height: 179px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
}
.itemdes3 {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  text-transform: capitalize;
  font-family: Montserrat;
  text-align: left;
}
.soldoutitemdetailsbox {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  gap: 10px;
  z-index: 1;
}
.soldouttext {
  position: relative;
  text-transform: capitalize;
}
.soldouticon,
.soldoutitemcard {
  border-radius: 55px 55px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.soldouticon {
  margin: 0 !important;
  position: absolute;
  top: 10px;
  left: 242px;
  background-color: #ffcd00;
  box-shadow: 0 5px 5px rgba(255, 205, 0, 0.1);
  width: 89px;
  height: 45px;
  justify-content: center;
  padding: 0 10px;
  z-index: 2;
  font-size: 16px;
  color: #852e2c;
}

.soldoutpriceparent {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: 18px;
  color: #a9a9a9;
  font-family: Montserrat;
}

.soldoutitemcard {
  background-color: #d9d9d9;
  width: 339px;
  justify-content: flex-start;
  padding: 0 0 20px;
  position: relative;
  gap: 10px;
  text-align: center;
  font-size: 22px;
  color: #a9a9a9;
  font-family: Recoleta;
}
.customeritemspage,
.itemscontainer {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.itemscontainer {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.customeritemspage {
  position: relative;
  background-color: #fff6df;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 30px;
  box-sizing: border-box;
  text-align: left;
  font-size: 12px;
  color: #852e2c;
  font-family: Montserrat;
}
@media screen and (max-width: 960px) {
  .headerContainer {
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .headerContainer {
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
}
